
.form{
    display: block;
    margin-inline: auto;
    width: 300px;
}
.innerForm{
    display: flex;
    flex-direction: column;
}
.SubmitBtn{
    width: 30%;
    display: block;
    margin-inline: auto;
    height: 5vh;
    padding: 1%;
}
.input{
    height: 3vh;
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 1%;
    outline: none;
}
.Link{
    text-decoration: none;
    color: black;
}
.Link:hover{
    background-color: rgba(68, 65, 65, 0.13);
}